Lenguaje de marcas/XML Y DTD/Ejercicio6DTD.dtd

<!ELEMENT vuelos (vuelo)+>
<!ELEMENT vuelo ( diario, origen, destino, hora_salida, hora_llegada)>
<!ATTLIST vuelo codigo CDATA #REQUIRED>
<!ATTLIST vuelo estado CDATA #REQUIRED>
<!ELEMENT diario (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT destino (#PCDATA)>
<!ELEMENT hora_salida (#PCDATA)>
<!ELEMENT hora_llegada (#PCDATA)>
