Lenguaje de marcas/04 DTD Schema/Schema XML/02ElementosXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="curso"> <!--El elemento curso ahora es un elemento complejo (contiene otros elementos)-->
  <xs:complexType>
      <xs:sequence>
        <xs:element name="denominacion" type="xs:string"/> 
        <xs:element name="numAlumn" type="xs:positiveInteger" default="15"/>
        <xs:element name="fechaIni" type="xs:date"/>
        <xs:element name="online" type="xs:boolean" fixed="true"/>
      </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
