Lenguaje de marcas/04 DTD Schema/Schema XML/03ElementosXSDconREF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="bingo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bola"/> <!-- en lugar de describir aquí el elemento ponemos una referencia y lo hacemos luego -->
        <xs:element name="nombrePopular" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="bola">
    <xs:complexType>
      <xs:attribute name="numero" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
