Lenguaje de marcas/04 DTD Schema/Schema XML/05ElementosXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="ficha">
    <xs:complexType>
      <xs:all>
          <xs:element name="nombre" type="xs:string"/>
          <xs:element name="edad" type="xs:positiveInteger"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
