Lenguaje de marcas/04 DTD Schema/Schema XML/10cElementosXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="personas">
  
    <xs:complexType>
      <xs:sequence>
        <xs:element name="persona" maxOccurs="unbounded">
        
          <xs:complexType  mixed="true"> <!-- de nuevo incluimos mixed="true"-->
           <xs:attribute name="idPer" type="xs:ID" use="required"/>
          </xs:complexType>
     
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    

    
  </xs:element>
</xs:schema>
