Lenguaje de marcas/04 DTD Schema/Schema XML/Ejercicio11Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alumno">
    <xs:complexType>
    <xs:sequence>
      <xs:element ref="curso"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="curso">
    <xs:complexType>
      <xs:attribute name="num" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
