Lenguaje de marcas/04 DTD Schema/DTD/12seccionescondicionales.dtd

<!-- Declaración de elementos comunes -->
<!ELEMENT mensajes (mensaje*)>
<!-- Mensaje largo -->
<![ INCLUDE [
      <!ELEMENT mensaje (titulo, emisor, receptor, contenido, palabras)>
      <!ELEMENT titulo (#PCDATA)>
      <!ELEMENT palabras (#PCDATA)>
]]>
<!-- Mensaje corto -->
<![ IGNORE [
<!ELEMENT mensaje (emisor, receptor, contenido)>
]]>

<!-- Declaración de elementos comunes -->
<!ELEMENT emisor (#PCDATA)>
<!ELEMENT receptor (#PCDATA)>
<!ELEMENT contenido (#PCDATA)>